# Server Configuration
PORT=10000
HOST=0.0.0.0

# Cache Settings
CACHE_TTL=15s
BANNER_CACHE_TTL=24h
CACHE_DIR=./cache

# Timeout Settings
SERVER_QUERY_TIMEOUT=5s
VOTIFIER_TIMEOUT=5s

# Logging
LOG_LEVEL=info
LOG_PRETTY=true